{% load my_tags %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for product in product_list %}
            <div class="col-4">
                <br></br>
                <div class="card border-primary" style="min-height: 32rem">
                    <div class="card-header text-center">
                        <h4 class="my-0 font-weight-normal">{{product.name}}</h4>
                    </div>
                    <img src="{% mediapath product.image %}" width="250" height="500" class="img-thumbnail" alt="{{product.name}}">
                    <div class="card-body">
                        <p class="card-text">{{product.description|slice:":100"}}</p>
                        <div class="card-footer">
                            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                                <div class="col">
                                    <h4 class="card-title pricing-card-title">{{product.price}} р.</h4>
                                    <button type="button" class="btn btn-sm btn-primary">Купить</button>
                                    <button type="button" class="btn btn-sm btn-primary">В избранное</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>